<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coba</title>
  </head>
  <body>
    <div id="app">
      <ul v-for="(apapun,index) in buah">
        <li>{{apapun}} {{index}} <button @click="hapus(index)">X</button></li>
      </ul>

      <ul v-for="(ship,index) in pacific_fleet">
        <li>{{ship.name}} - {{ship.class}} - {{index}}</li>
      </ul>
    </div>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
      createApp({
        data() {
          return {
            buah: [
              "appel",
              "orange",
              "melon",
              "lemon",
              "papaya",
              "dragon fruit",
            ],
            pacific_fleet: [
              { name: "yamato", class: "battleship" },
              { name: "kakao", class: "heavy cruiser" },
              { name: "kongo", class: "battleship" },
              { name: "kaga", class: "aircraft carrier" },
              { name: "I-401", class: "submarine" },
            ],
          };
        },
        methods: {
          hapus(index) {
            this.buah.splice(index, 1);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
